<h1>Wellcome! You are in Home<h1>
<h3>Time now is: <%= @current_time%></h3>
<h3>Day is: <%= @current_date%></h3>
<%= link_to "About basics", "/basics" %><br>
<%= link_to "About ruby", "/ruby" %><br>
<%= link_to "About git", "/git" %><br>
